.container {
    background-color: aqua;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 980px;
    margin: 0 auto;

    img {
        cursor: pointer;
    }
}