.dashboard {
    max-width: 1200px;
    margin: 4rem auto 0 auto;
    padding-bottom: 2rem;
}

.analytics {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "analytic_1 analytic_1 analytic_2 analytic_3"
        "analytic_4 analytic_5 analytic_6 analytic_6"
        ;
    

    margin-top: 1rem;
}

.analytic1, .analytic2, .analytic3, .analytic4, .analytic5, .analytic6 {
    background-color: var(--blue-500);

    padding: 2rem;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}

.analytic1 {
    grid-area: analytic_1;
}

.analytic2 {
    grid-area: analytic_2;
}

.analytic3 {
    grid-area: analytic_3;
}

.analytic4 {
    grid-area: analytic_4;
}


.analytic5 {
    grid-area: analytic_5;
}


.analytic6 {
    grid-area: analytic_6;
}


