.card {

    background-color: var(--blue-400);

    max-width: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    padding: 2rem 3rem;

    p {
        font-size: 2rem;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        flex: 1;
        gap: 0.6rem;
        height: 3rem;
        margin-top: 1rem;
        border-radius: 5px;

        font-size: 1.4rem;

        background-color: var(--blue-300);

        color: rgba(255, 255, 255, 0.9);

        &:hover {
            filter: brightness(1.1);
        }

        svg {
            color: var(--pink-500);
        }
    }

}

