.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;

    gap: 1rem;



    button {
        background-color: var(--pink-500);

        display: flex;
        align-items: center;

        margin-left: 1rem;
        padding: 0 1rem;
        height: 2.4rem;
        border-radius: 5px;

        &:hover {
            filter: brightness(0.95);
        }
    }
}

.inputFake {

    display: flex;
    align-items: center;

    background-color: var(--blue-900);
    padding: 0 1rem;
    height: 2.4rem;
    border-radius: 5px;

    width: 300px;
    
    @media(max-width: 600px) {
        width: 200px;
    }

    svg {
        filter: brightness(0.65);
    }

    input {
        background: none;
        border: 0;
        outline: 0;
        padding-left: 1rem;

        color: var(--white);
        filter: brightness(0.90);

        &::-webkit-input-placeholder {
            /* Edge */
            color: var(--blue-400);
        }
    }
}

.recents {
    max-width: 1200px;

    margin-top: 1rem;
    width: 90%;

    margin: 0 auto;

    padding: 1rem;

    .icon {
        position: absolute;
        right: 15px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1.4rem;

        span {
            font-size: 1.6rem;
        }

        .clear {
            color: var(--pink-500);
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}

.dataItem {
    display: flex;
    align-items: center;
    gap: 16px;

    cursor: pointer;

    margin-top: 2rem;

    padding-bottom: 1rem;
    border-bottom: 1px solid #4F4C60;

    span {
        font-size: 1rem;
        color: var(--white);

        filter: brightness(0.70);
        font-weight: 400;
    }

    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

.dataInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    div {
        display: flex;
        flex-direction: column;
    }

    svg {
        font-size: 1.4rem;
        filter: brightness(0.75);
    }
}
